@model Agenda.Models.Customer
@{
ViewBag.Title = "addCustomer";
}
@*FORMULAIRE*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form class="align-content-center" method="post">
        <div class="d-flex flex-column">
            <label for="LastName">Nom :</label>
            <input type="text" name="LastName" id="LastName" maxlength="50" placeholder="Nom" required value="@Request.Form["LastName"]" />
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="d-flex flex-column">
            <label for="FirstName">Prénom :</label>
            <input type="text" name="FirstName" id="FirstName" maxlength="50" placeholder="Prénom" required value="@Request.Form["FirstName"]" />
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="d-flex flex-column">
            <label for="Mail">Addresse Mail :</label>
            <input type="email" name="Mail" id="Mail" maxlength="100" placeholder="Addresse Mail" required value="@Request.Form["Mail"]" />
            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
        </div>
        <div class="d-flex flex-column">
            <label for="PhoneNumber">Numéro De Téléphone :</label>
            <input type="tel" name="PhoneNumber" id="PhoneNumber" maxlength="10" placeholder="Numéro De Téléphone" required value="@Request.Form["PhoneNumber"]" />
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
        <div class="d-flex flex-column">
            <label for="Budget">Budget :</label>
            <input type="number" name="Budget" id="Budget" placeholder="Budget" required value="@Request.Form["Budget"]" />
            @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
        </div>
        <div class="d-flex flex-column">
            <label for="Subject">Subject :</label>
            <input type="text" name="Subject" id="Subject" placeholder="Subject" required value="@Request.Form["Subject"]" />
            @Html.ValidationMessageFor(model => model.Subject,"", new { @class = "text-danger" })
        </div>
        <div class="d-flex flex-column  mt-3">
            <button type="submit" class="btn btn-primary" value="Ajouter">Ajouter Client</button>
        </div>
    </form>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
